* ,
 *::after,
 *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --colour-orange :rgba(253, 164, 0, 0.584);
    --colour-dark : #1c2042;
    --colur-wite : #fff;
}

html {
    font-size: 1rem;
}
body {
    background-color: var(--colour-orange);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    background-color: var(--colour-dark);
    width: 1000px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    color: var(--colur-wite);
}

.selecter{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.321);
    height: 80px;
    width: 500px;
    justify-content: space-around;
    border-radius: 12px;
    margin-bottom: 12px;
    
}

.options{
    display: flex;
    background-color: rgba(255, 255, 255, 0.786);
    height: 50px;
    width: 500px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    justify-content: space-around;
    border-radius: 12px;
    color: var(--colour-dark);
    
}
li{
    display: flex;
    list-style: none;
    align-items: center;
}
.seat{
    width: 20px;
    height: 20px;
    margin : 10px;   
    background-color: rgba(255, 255, 255, 0.735);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.selected {
    width: 20px;
    height: 20px;
    margin : 10px;
    background-color: rgba(0, 128, 0, 0.842);
    
}
.Ocupied {
    width: 20px;
    height: 20px;
    margin : 10px;
    background-color: rgba(0, 0, 0, 0.519);
    
}
.screen-container{
    width: 360px;
    height: 100px;
    perspective: 700px;
}
.options .seat:hover{
    cursor: default;
    background-color: rgba(255, 255, 255, 0.735);
}
.options .selected:hover{
    cursor: default;
    background-color: rgba(0, 128, 0, 0.842);
}
.options .Ocupied:hover{
    cursor: default;
    background-color: rgba(0, 0, 0, 0.519);
}
.screen{
    margin: 12px;
    width: 340px;
    height: 100px;
    background-color: white;
    transform: rotateX(-45deg);
}
.row{
    display: flex;
}
.seat:hover {
    background-color: rgba(0, 128, 0, 0.842);
    cursor: pointer;
}
.Ocupied:hover {
    background-color: rgba(0, 0, 0, 0.651);
    cursor: default;
}
.selected:hover {
    background-color: rgba(0, 128, 0, 0.842);
    cursor: pointer;
}
.discription {
    margin: 12px;
}
.seat:nth-of-type(3){
    margin-left: 1.2rem;
}
.seat:nth-last-of-type(3){
    margin-right: 1.2rem;
}